<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PET FINDER</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <style>
        body {
            background-image: url("https://4kwallpapers.com/images/walls/thumbs_3t/4593.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>



<body>

    {% comment %} header {% endcomment %}
    <div class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">

                    <div class="navbar-header">
                        <button class="navbar-toggle" data-target="#mobile_menu" data-toggle="collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                        <a href="#" class="navbar-brand" style="font-family: cursive;">PetFinder.com</a>
                    </div>

                    <div class="navbar-collapse collapse" id="mobile_menu">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="/">Home</a></li>
                            <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Pets <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="all">DOGS & PUPPIES</a>
                                    </li>
                                    <li><a href="all">CATS & KITTENS</a></li>
                                    <li>
                                        <a href="#">OTHER TYPES OF PETS</a>
                                    </li>

                                </ul>
                            </li>
                            <!-- <li>
                                <a href="#heading">Breed</a>
                            </li> -->
                            <li><a href="all">AVAILABLE PETS</a></li>
                            <li><a href="/aboutUs">About Us</a></li>
                            <li><a href="/contact">Contact Us</a></li>
                        </ul>
                        <ul class="nav navbar-nav">
                            <li>
                                <form action="/search" class="navbar-form">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input type="search" name="query" id="" placeholder="Search Anything Here..." class="form-control">
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                                        </div>
                                    </div>
                                </form>
                            </li>
                        </ul>

                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="admin/"><span class="glyphicon glyphicon-user"></span> Admin </a></li>{% if request.user.is_authenticated %}
                            <li style="color:blue;padding-top: 14px;">{{request.user.email}}</li>
                            <li><a href="logouthere"><span class="glyphicon glyphicon-log-in"></span> Logout </a>{% else %}
                                <li><a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-log-in"></span> Login / Sign Up <span class="caret"></span></a>
                                    <ul class="dropdown-menu">

                                        <li><a href="/loginp">Login</a></li>
                                        <li><a href="/signupp">Sign Up</a></li>
                                    </ul>
                                </li> {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    {% block home %}{% endblock home %} {% block about %}{% endblock about %} {% block contact %}{% endblock contact %}{% block login %}{% endblock login %}{% block signup %}{% endblock signup %}{% block all %}{% endblock all %}



    <footer style="background-color: black; padding: 20px 0; text-align: center;margin-top: 15px;">
        <div style="max-width: 800px; margin: 0 auto;">
            <p style="margin-bottom: 0;">&copy; 2024 Dog Finder. All rights reserved.</p>
        </div>
    </footer>

</body>

</html>